.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.Site-content {
    flex: 1;
}


nav{
    background-color: #c6802c;

}
nav span{
    color: white;
    font-size: 40px;
    padding: 0 2vw;
}
nav span:hover{
    cursor:pointer;
    background-color: #f69f35;
}

footer{
    margin-top: 5%;
  display: block;
    background-color: #c6802c;


}
footer a{
    color: white;
    font-size: 30px;
    padding: 2vh 2vw;
    text-decoration: none;
}
footer a:hover{
    cursor:pointer;
    background-color: #f69f35;
    text-decoration: none;
}

/*^index^*/


#prompt{
    text-align: center;
    padding:  2em;
}
#yes{
    background-color: #c6802c;
    padding: 10px 5px;
    color: white;
    border: solid 1px #f69f35;
    border-radius: 10%;

}
#yes:hover{
    cursor:pointer;
    background-color: #f69f35;
}
#no{
    margin-top: 10px;
    background-color: #c6802c;
    padding: 10px 5px;
    color: #ffffff;
    border: solid 1px #f69f35;
    border-radius: 10%;
}
#no:hover{
    cursor:pointer;
    background-color: #f69f35;
}





/*^home^*/





.bb8-body{

    height: 20vh;
    clip-path: circle(34.4% at 47% 67%);
}
@-webkit-keyframes moving-bb {
    0%   {background-color: #ffffff; left:40vw; top:0px;}
    25%  {background-color: #fefefe; left:65vw; top:0vh;}
    50%  {background-color: #ffffff; left:70vw; top:0vh;}
    75%  {background-color: #ffffff; left:45vw; top:10vh;}
    100% {background-color: #ffffff; left:40vw; top:0px;}
}
.bb8-head{
    position: absolute;
    height: 20vh;
    clip-path: polygon(45% 9%, 57% 19%, 60% 28%, 56% 32%, 39% 35%, 15% 38%, 12% 25%, 17% 15%, 33% 8%);
}
.bb8-animate{
    width: 20vw;
    position: relative;
    -webkit-animation-duration: 4s;
    animation-name: moving-bb;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.codedBy{
    margin-top: 10vh;
}
/*^about^*/