<h1 class="text-center"> It has been {{howManyDaysStored}} days since your last cigarette </h1>
<h1 class="text-center">Your reasons to quit!</h1>
<div class="container">
    <div class="row">
    <div class="col-lg-4">

        <div ng-repeat="a in storedReasons" class="">
            <h3 style="" class="">{{a.r}}</h3>
        </div>
    </div>
    <div class="col-lg-8">
        <div ng-repeat="r in storedReasonsImg">

            <img class="img-responsive" style="float: left" ng-src="{{r.img}}">

        </div>

    </div>
    </div>
</div>